/*Colors--------------------*/
/*--------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Reset---------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  overflow-x: hidden; }

html {
  font-size: 16px;
  font-size: 62.5%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------------*/
/*Global-classes------------*/
.container {
  max-width: 160rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin: 0 auto; }

.link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #212121;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out; }
  .link:first-child {
    color: #646464; }

.button {
  font-family: 'Open Sans', sans-serif;
  background: #37806b;
  border-radius: 20px 0px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent; }
  .button:hover {
    background-color: #fff;
    border: 2px solid #37806b;
    color: #37806b; }

.hidden {
  display: none !important; }

/*--------------------------*/
/*Mixins---------------------*/
/*--------------------------*/
.loading-animation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #37806b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(24px, 0); } }

@keyframes lds-ellipsis4 {
  0% {
    transform: translate(0, 0) scale(1); }
  50% {
    transform: translate(24px, 0) scale(0.5); }
  100% {
    transform: translate(48px, 0) scale(1); } }

.header {
  height: 100vh;
  position: relative;
  margin-bottom: 10rem; }
  .header .nav-wrapper {
    background-color: white;
    margin-bottom: 8.5rem;
    transition: all 0.2s ease-out; }
    .header .nav-wrapper .nav-menu {
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      align-items: center; }
      .header .nav-wrapper .nav-menu__links--main {
        text-transform: uppercase;
        margin-left: auto;
        margin-right: 3rem;
        display: inherit;
        gap: 1rem; }
        .header .nav-wrapper .nav-menu__links--main .link:hover {
          border: 2px solid #37806b;
          border-radius: 2rem;
          color: #37806b; }
      .header .nav-wrapper .nav-menu__links--authorize .link--sign-up {
        color: #fff;
        background: #caa892;
        padding: 0.5rem 1.9rem;
        font-weight: 600; }
        .header .nav-wrapper .nav-menu__links--authorize .link--sign-up:hover {
          border: 2px solid #caa892;
          color: #caa892;
          background-color: transparent; }
      .header .nav-wrapper .nav-menu__links--burger {
        display: none; }
        .header .nav-wrapper .nav-menu__links--burger img {
          width: 50px;
          height: 50px;
          filter: invert(68%) sepia(74%) saturate(131%) hue-rotate(340deg) brightness(91%) contrast(84%); }
    .header .nav-wrapper--sticky {
      position: fixed;
      opacity: 1;
      z-index: 300;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      background-image: radial-gradient(circle, #fff1df, #fff2eb, #fff6f8, #fffbfe, #ffffff);
      backdrop-filter: blur(20px);
      transition: all 3s ease-in; }
    .header .nav-wrapper .nav-progress {
      height: 0.4rem;
      width: 0%;
      transition: width 0.3s ease-out;
      background-image: linear-gradient(to right, #37806b, #5c9e89, #7fbca8, #a3dcc9, #c8fcea); }
  .header .hero {
    display: flex;
    gap: 5rem;
    align-items: center; }
    .header .hero__description {
      flex: 0 1 50%;
      min-width: 45rem; }
      .header .hero__description-subheading {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        text-transform: uppercase;
        color: #646464;
        /* or 150% */
        font-weight: 600;
        margin-bottom: 1.3rem; }
      .header .hero__description-heading {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 4.8rem;
        line-height: 5.7rem;
        /* or 119% */
        font-weight: 600;
        font-size: 7.2rem;
        line-height: 7.8rem;
        margin-bottom: 2.3rem; }
      .header .hero__description-paragraph {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        /* or 167% */
        margin-bottom: 3.1rem; }
      .header .hero__description-contact .button {
        display: inline-block;
        padding: 2rem 3rem; }
    .header .hero__interior {
      border-radius: 14rem 0;
      border: 2px solid #b0855b;
      height: 610px; }
      .header .hero__interior-image {
        transform: translate(-30px, -30px);
        border-radius: 14rem 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .header-decore {
    position: absolute;
    bottom: 5%;
    left: 0; }

.service {
  padding-top: 7rem;
  position: relative; }
  .service-subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-transform: uppercase;
    color: #646464;
    /* or 150% */ }
  .service-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.7rem;
    /* or 119% */
    margin-bottom: 3.1rem; }
  .service__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    margin-bottom: 11rem;
    max-width: 120rem; }
    .service__nav-menu .button {
      min-width: 18rem;
      text-align: center;
      border-radius: 2rem;
      font-size: 1.6rem;
      padding: 1rem 0; }
      .service__nav-menu .button:hover {
        color: #fff;
        background-color: #4bb093;
        border-color: transparent; }
    .service__nav-menu .active {
      background-color: #fff;
      border: 2px solid #37806b;
      color: #37806b; }
  .service__cards {
    padding: 0 15rem;
    display: flex;
    row-gap: 3rem;
    justify-content: space-around;
    margin-bottom: 47rem;
    flex-wrap: wrap; }
    .service__cards .card {
      max-width: 47rem;
      padding: 3rem;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
      border-radius: 60px 0px;
      min-width: 40rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */ }
      .service__cards .card__top {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem; }
        .service__cards .card__top-heading {
          font-weight: 700;
          font-size: 2.4rem; }

.the-will {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23rem;
  position: relative; }
  .the-will__interior {
    border-radius: 14rem 0;
    border: 2px solid #b0855b;
    height: 70rem; }
    .the-will__interior-image {
      transform: translate(30px, 30px);
      border-radius: 14rem 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .the-will__description {
    flex: 0 1 40%;
    min-width: 50rem;
    margin-left: 7rem; }
    .the-will__description-subheading {
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3rem;
      text-transform: uppercase;
      color: #646464;
      /* or 150% */
      font-weight: 500;
      margin-bottom: 6rem; }
    .the-will__description-heading {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 4.8rem;
      line-height: 5.7rem;
      /* or 119% */ }
    .the-will__description-paragraph {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */
      margin-bottom: 3rem; }
    .the-will__description__learn-more .button {
      display: inline-block;
      padding: 1rem 2rem; }
  .the-will-decore {
    position: absolute;
    bottom: -30%;
    left: 0; }

.about {
  position: relative; }
  .about-decore {
    position: absolute;
    top: -20%;
    right: -10%; }

.success {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22.3rem;
  position: relative; }
  .success__description {
    flex: 0 1 40%;
    min-width: 50rem;
    margin-right: 7rem; }
    .success__description-subheading {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 26.8rem;
      background-image: url(../img/20subheader.png);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      margin-bottom: 2rem; }
    .success__description-heading {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 4.8rem;
      line-height: 5.7rem;
      /* or 119% */
      font-size: 5rem;
      margin-bottom: 2rem; }
    .success__description__read-more .button {
      display: inline-block;
      padding: 1rem 2rem; }
  .success__interior {
    border-radius: 14rem 0;
    border: 2px solid #b0855b;
    height: 71rem; }
    .success__interior-image {
      transform: translate(-30px, -30px);
      border-radius: 14rem 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .success-decore {
    position: absolute;
    bottom: 20%;
    right: -20%; }

.work {
  background-color: #f8f8f8;
  padding: 8.7rem 0 20rem;
  position: relative; }
  .work .completed-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.7rem;
    /* or 119% */
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 8.7rem;
    text-align: center; }
  .work .completed__flow {
    display: flex;
    justify-content: space-between; }
    .work .completed__flow .card {
      padding: 5rem;
      text-align: center;
      background: #fff;
      box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
      border-radius: 40px 0px;
      z-index: 4; }
      .work .completed__flow .card-header {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 5rem;
        line-height: 6rem;
        /* or 120% */ }
      .work .completed__flow .card-subheader {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        /* or 167% */
        color: #646464; }
      .work .completed__flow .card:first-child {
        position: relative; }
        .work .completed__flow .card:first-child .card-decore {
          position: absolute;
          right: -120%;
          top: 50%; }
      .work .completed__flow .card:last-child {
        transform: translateY(96px); }
      .work .completed__flow .card:nth-child(2) {
        transform: translate(30px, 96px); }
      .work .completed__flow .card:nth-child(3) {
        transform: translateX(30px);
        position: relative;
        z-index: 3; }
        .work .completed__flow .card:nth-child(3) .card-decore--left {
          position: absolute;
          left: -120%;
          top: 50%;
          z-index: 0; }
        .work .completed__flow .card:nth-child(3) .card-decore--right {
          position: absolute;
          top: 50%;
          right: -120%;
          z-index: 0; }
  .work-decore {
    position: absolute;
    bottom: -10%;
    left: 0; }

.testimonials {
  text-align: center;
  padding-top: 13rem;
  margin-bottom: 24.5rem !important;
  position: relative; }
  .testimonials-subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-transform: uppercase;
    color: #646464;
    /* or 150% */ }
  .testimonials-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.7rem;
    /* or 119% */ }
  .testimonials .carousel__nav {
    margin-bottom: 8.5rem;
    display: flex;
    justify-content: right;
    gap: 5rem; }
    .testimonials .carousel__nav-btn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3); }
  .testimonials .carousel__list-wrapper .swiper-slide {
    display: flex;
    justify-content: space-between;
    gap: 17rem; }
    .testimonials .carousel__list-wrapper .swiper-slide .card {
      padding: 4rem 3rem 6rem 9rem;
      position: relative;
      background: #fff;
      box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
      border-radius: 70px 0px; }
      .testimonials .carousel__list-wrapper .swiper-slide .card-header {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #212121;
        margin-bottom: 0.8rem;
        text-align: left; }
        .testimonials .carousel__list-wrapper .swiper-slide .card-header span {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 3rem;
          /* or 167% */
          color: #646464; }
      .testimonials .carousel__list-wrapper .swiper-slide .card-quotes {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        font-size: 96px;
        position: absolute;
        top: 2rem;
        right: 4rem;
        color: #b0855b; }
      .testimonials .carousel__list-wrapper .swiper-slide .card-paragraph {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        /* or 167% */
        color: #646464; }
      .testimonials .carousel__list-wrapper .swiper-slide .card .avatar {
        position: absolute;
        left: -10%;
        top: 20%;
        border-radius: 35px 0px; }
  .testimonials .carousel .swiper-pagination {
    bottom: -23rem; }
    .testimonials .carousel .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #37806b; }

.news {
  padding: 9.3rem 0 12rem;
  text-align: center;
  background-color: #f8f8f8;
  margin-bottom: 8rem;
  position: relative; }
  .news-subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-transform: uppercase;
    color: #646464;
    /* or 150% */
    margin-bottom: 2rem; }
  .news-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.7rem;
    /* or 119% */
    margin-bottom: 8.3rem; }
  .news__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .news__main-card--active {
      opacity: 1 !important;
      transform: translateY(0) !important; }
    .news__main .card {
      flex: 0 1 45%;
      display: flex;
      flex-direction: column;
      text-align: left;
      transform: translateY(4rem);
      opacity: 0;
      transition: all 1s ease-out; }
      .news__main .card:hover .card-interior-image {
        transform: scale3d(1.05, 1.05, 1); }
      .news__main .card:hover .card-paragraph {
        transform: translateY(0);
        opacity: 1; }
      .news__main .card:hover .card-continue .button {
        transform: translateY(0); }
      .news__main .card-interior {
        border-radius: 10rem 0;
        border: 2px solid #b0855b;
        margin-bottom: 4.3rem; }
        .news__main .card-interior-image {
          transform: translate(-30px, -30px);
          border-radius: 10rem 0;
          transition: 0.3s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .news__main .card-subheading {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 3rem;
        color: #212121;
        margin-bottom: 1.7rem; }
      .news__main .card-paragraph {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        /* or 167% */
        margin-bottom: 4rem;
        opacity: 0;
        transform: translateY(-4.5rem);
        transition: all 0.3s ease-in-out; }
      .news__main .card-continue .button {
        transform: translateY(-9rem);
        display: inline-block;
        padding: 1.4rem 3.5rem;
        transition: all 0.3s ease-in-out; }
  .news-decore {
    position: absolute;
    bottom: -10%;
    right: 0; }

.authorize {
  padding-top: 8rem;
  text-align: center;
  max-width: 87rem;
  padding: 0 5rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  position: relative; }
  .authorize-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.7rem;
    /* or 119% */
    margin-bottom: 3.7rem; }
  .authorize .separate {
    border-top: 1px solid #c4c4c4;
    max-width: 46rem;
    margin: 0 auto;
    margin-bottom: 4rem; }
  .authorize-subheading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    /* or 167% */
    color: #646464;
    max-width: 65rem;
    margin: 0 auto;
    margin-bottom: 4rem; }
  .authorize .form__input {
    min-height: 90px; }
    .authorize .form__input-email {
      width: 100%; }
    .authorize .form__input--last {
      margin-bottom: 9.2rem; }
    .authorize .form__input-error {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */
      color: red; }
    .authorize .form__input--invalid {
      border: 1px solid red; }
  .authorize .form input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    /* or 167% */
    font-weight: 500;
    padding: 2rem 8rem 1rem 3rem;
    background: #eeeeee;
    border-radius: 20px 0px; }
  .authorize .form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.8rem; }
  .authorize .form .button {
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: 0px 0px 20px 0px; }
  .authorize .form .form__modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto; }
    .authorize .form .form__modal-content {
      background-color: #fff;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      max-width: 500px;
      text-align: center;
      position: relative; }
    .authorize .form .form__modal-heading {
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3rem;
      text-transform: uppercase;
      color: #646464;
      /* or 150% */
      margin-bottom: 3rem; }
    .authorize .form .form__modal-message {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */
      margin-bottom: 20px; }
    .authorize .form .form__modal-close {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 30px;
      font-weight: bold;
      color: #888;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 15px; }
    .authorize .form .form__modal--visible {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999; }
      .authorize .form .form__modal--visible #my-canvas {
        position: absolute;
        inset: 0;
        z-index: 100; }
      .authorize .form .form__modal--visible .form__modal-content {
        z-index: 999;
        background: linear-gradient(to right, #ffefba, #ffffff);
        padding: 20px;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        min-height: 25rem; }

.footer {
  background-color: #F8F8F8;
  position: relative; }
  .footer__main {
    padding-top: 9.3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem; }
    .footer__main .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem; }
    .footer__main .col {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start; }
    .footer__main__logo .logo {
      align-self: start; }
    .footer__main__logo-paragraph {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */
      color: #646464;
      max-width: 36rem; }
    .footer__main-subheading {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */
      font-size: 2.4rem;
      font-weight: 600;
      color: #212121;
      margin-bottom: 1rem;
      text-align: left; }
    .footer__main .link {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3rem;
      /* or 167% */
      color: #646464;
      padding: 0;
      border: 0; }
      .footer__main .link:hover {
        text-decoration: underline; }
    .footer__main__contact {
      flex-shrink: 1; }
    .footer__main__follow {
      align-items: center !important; }
      .footer__main__follow-links {
        display: flex;
        gap: 8px; }
        .footer__main__follow-links .socials {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #646464;
          display: flex;
          align-items: center;
          justify-content: center; }
          .footer__main__follow-links .socials:hover {
            background-color: #37806b; }
  .footer-separator {
    border-top: 1px solid #c4c4c4; }
  .footer-copyright {
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    /* or 167% */
    text-align: center;
    color: #646464;
    padding-bottom: 1.8rem; }
  .footer-decore {
    position: absolute;
    top: -14%;
    left: 0; }

/* BELOW 1344px (Smaller desktops) */
.container {
  max-width: 155rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  margin: 0 auto; }

@media (max-width: 84em) {
  .header .hero__description-heading {
    font-size: 5rem; } }

/* BELOW 1200px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%; }
  .container {
    max-width: 150rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto; }
  .header .nav-wrapper .nav-menu__links--main {
    gap: 0;
    margin-right: 1rem; }
    .header .nav-wrapper .nav-menu__links--main .link {
      padding: 0.5rem; }
  .header .nav-wrapper .nav-menu__links--authorize .link--sign-up {
    padding: 0.5rem 1rem; }
  .service__nav-menu .button {
    min-width: 15rem; }
  .the-will__description,
  .success__description {
    min-width: 45rem;
    flex-basis: 50%; }
  .testimonials .carousel__list-wrapper .swiper-slide {
    gap: 7rem; }
    .testimonials .carousel__list-wrapper .swiper-slide .card {
      text-align: center; }
      .testimonials .carousel__list-wrapper .swiper-slide .card-quotes {
        display: none; } }

/* BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    font-size: 50%; }
  .header {
    background: url("../img/hero-bg.jpg") center no-repeat; }
    .header .nav-wrapper {
      background-color: white; }
      .header .nav-wrapper .nav-menu {
        justify-content: space-between; }
        .header .nav-wrapper .nav-menu__links--main {
          display: none; }
        .header .nav-wrapper .nav-menu__links--authorize {
          display: none; }
        .header .nav-wrapper .nav-menu__links--burger {
          display: block; }
          .header .nav-wrapper .nav-menu__links--burger:hover {
            cursor: pointer; }
    .header-decore {
      display: none; }
    .header .hero {
      height: 100%;
      justify-content: center;
      align-items: center; }
      .header .hero__description {
        width: 100%;
        color: #fff;
        z-index: 90;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1 100%; }
        .header .hero__description-subheading {
          color: #212121; }
      .header .hero__interior {
        display: none; }
  .service__nav-menu {
    padding-left: 0; }
    .service__nav-menu .button {
      min-width: 13rem; }
  .the-will__description {
    min-width: 0;
    flex-basis: 80%;
    text-align: center; }
  .the-will-decore {
    display: none; }
  .about-decore,
  .work-decore,
  .footer-decore,
  .news-decore,
  .success-decore {
    display: none; }
  .success__description {
    flex-basis: 80%;
    min-width: 0;
    text-align: center; }
  .testimonials .carousel__list-wrapper .swiper-slide .card {
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    text-align: left; }
    .testimonials .carousel__list-wrapper .swiper-slide .card:nth-child(even) {
      display: none; }
    .testimonials .carousel__list-wrapper .swiper-slide .card-quotes {
      display: none; }
    .testimonials .carousel__list-wrapper .swiper-slide .card .avatar {
      border-radius: 50%;
      transform: scale(0.5);
      top: -19%;
      left: 80%; }
  .news__main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem; }
    .news__main .card-interior-image {
      transform: translate(-10px, -10px); }
  .footer__main {
    flex-direction: column;
    gap: 3rem;
    align-items: center; } }

/* BELOW 704px (Smaller tablets) */
@media (max-width: 44em) {
  .service__nav-menu .button {
    min-width: 10rem; }
  .the-will {
    flex-direction: column-reverse;
    gap: 5rem; }
    .the-will__interior {
      height: auto;
      width: 100%; }
      .the-will__interior-image {
        transform: translate(15px, 15px); }
    .the-will__description {
      min-width: none;
      flex: 1;
      margin: 0; }
      .the-will__description-subheading {
        margin-bottom: 1rem; }
      .the-will__description-heading {
        margin-bottom: 2rem; }
      .the-will__description-paragraph {
        text-align: left; }
      .the-will__description__learn-more .button {
        padding: 1.6rem 2.4rem;
        min-width: 20rem; }
    .the-will-decore {
      display: none; }
  .success {
    flex-direction: column;
    gap: 7rem; }
    .success__description {
      flex: 1;
      text-align: center;
      min-width: none;
      margin: 0; }
      .success__description__read-more .button {
        padding: 1.6rem 2.4rem;
        min-width: 20rem; }
    .success__interior {
      width: 100%;
      height: auto; }
      .success__interior-image {
        transform: translate(-15px, -15px); }
    .success-decore {
      display: none; }
  .work {
    display: none !important; }
  .authorize .form__input--last {
    margin-bottom: 3rem; }
  .authorize .form input {
    width: 100%; }
  .authorize .form .row {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem; } }

/* BELOW 544px (Phones) */
