.footer {
  background-color: #F8F8F8;
  position: relative;
  &__main {
    padding-top: 9.3rem;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 7rem;
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
    }
    .col {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
    }
    &__logo {
      .logo {
        align-self: start;
      }
      &-paragraph {
        @include paragraph;
        color: $grey-color;
        max-width: 36rem;
      }
    }
    &-subheading {
      @include paragraph;
      font-size: 2.4rem;
      font-weight: 600;
      color: $main-black;
      margin-bottom: 1rem;
      text-align: left;
    }
    .link {
      @include paragraph;
      color: $grey-color;
      padding: 0;
      border: 0;
      &:hover {
        text-decoration: underline;
      }
    }
    &__contact {
      flex-shrink: 1;

    }
    &__follow {
      align-items: center !important;
      &-links {
        display: flex;
        gap: 8px;
        .socials {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $grey-color;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: $green-color;
          }
        }
      }
    }
  }
  &-separator {
    border-top: 1px solid $grey-color-light;
  }
  &-copyright {
    margin-top: 1.5rem;
    @include paragraph;
    text-align: center;
    color: $grey-color;
    padding-bottom: 1.8rem;
  }
  &-decore {
    position: absolute;
    top: -14%;
    left: 0;
  }
}