/*Colors--------------------*/
$nav-link: #111111;
$main-black: #212121;
$grey-color: #646464;
$white-color: #fff;
$dust-color: #caa892;
$grey-bg-color: #f8f8f8;
$green-color:#37806b;
$brown-color:#b0855b;
$grey-color-light: #c4c4c4;
/*--------------------------*/