/* BELOW 1344px (Smaller desktops) */

.container {
  max-width: 155rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  margin: 0 auto;
}

@media (max-width: 84em) {
  .header {
    .hero {
      &__description {
        &-heading {
          font-size: 5rem;
        }
      }
    }
  }
}

/* BELOW 1200px (Landscape Tablets) */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 150rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
  }

  .header {
    .nav-wrapper {
      .nav-menu {
        &__links--main {
          gap: 0;
          margin-right: 1rem;
          .link {
            padding: 0.5rem;
          }
        }
        &__links--authorize {
          .link--sign-up {
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }
  .service {
    &__nav-menu {
      .button {
        min-width: 15rem;
      }
    }
  }
  .the-will,
  .success {
    &__description {
      min-width: 45rem;
      flex-basis: 50%;
    }
  }
  .testimonials {
    .carousel {
      &__list {
        &-wrapper {
          .swiper-slide {
            gap: 7rem;
            .card {
              text-align: center;

              &-quotes {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

/* BELOW 944px (Tablets) */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .header { 
    background: url('../img/hero-bg.jpg') center no-repeat;
    .nav-wrapper {

      background-color: rgba($color: #fff, $alpha: 1);
      .nav-menu {

        justify-content: space-between;
        &__links--main {
          display: none;
        }
        &__links--authorize {
          display: none;
        }
        &__links--burger {
          display: block;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &-decore {
      display: none;
    }
    .hero {
      height: 100%;
      justify-content: center;
      align-items: center;
      &__description {
        width: 100%;
        color: $white-color;
        z-index: 90;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1 100%;
        &-subheading {
          color: $main-black;
        }
      }
      &__interior {
        display: none;
      }
    }
  }
  .service {
    &__nav-menu {
      padding-left: 0;
      .button {
        min-width: 13rem;
      }
    }
  }
  .the-will {
    &__description {
      min-width: 0;
      flex-basis: 80%;
      text-align: center;
    }

    &-decore {
      display: none;
    }
  }
  .about-decore,
  .work-decore,
  .footer-decore,
  .news-decore,
  .success-decore {
    display: none;
  }
  .success {
    &__description {
      flex-basis: 80%;
      min-width: 0;
      text-align: center;
    }
  }
  .testimonials {
    .carousel {
      &__list {
        &-wrapper {
          .swiper-slide {
            .card {
              &:nth-child(even) {
                display: none;
              }
              width: 100%;
              margin: 0 auto;
              padding: 4rem;
              text-align: left;

              &-quotes {
                display: none;
              }

              .avatar {
                border-radius: 50%;
                transform: scale(0.5);
                top: -19%;
                left: 80%;
              }
            }
          }
        }
      }
    }
  }
  .news {
    &__main {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7rem;

      .card {
        &-interior {
          &-image {
            transform: translate(-10px, -10px);
          }
        }
      }
    }
  }
  .footer {

    &__main {
      flex-direction: column;
      gap: 3rem;
      align-items: center;

     
    }
  }
}

/* BELOW 704px (Smaller tablets) */

@media (max-width: 44em) {
  .service {
    &__nav-menu {
      .button {
        min-width: 10rem;
      }
    }
  }
  .the-will {
    flex-direction: column-reverse;
    gap: 5rem;
    &__interior {
      height: auto;
      width: 100%;
      &-image {
        transform: translate(15px, 15px);
      }
    }
    &__description {
      min-width: none;
      flex: 1;
      margin: 0;
      &-subheading {
        margin-bottom: 1rem;
      }
      &-heading {
        margin-bottom: 2rem;
      }
      &-paragraph {
        text-align: left;
      }
      &__learn-more {
        .button {
          padding: 1.6rem 2.4rem;
          min-width: 20rem;
        }
      }
    }
    &-decore {
      display: none;
    }
  }
  .success {
    flex-direction: column;
    gap: 7rem;
    &__description {
      flex: 1;
      text-align: center;
      min-width: none;
      margin: 0;

      &__read-more {
        .button {
          padding: 1.6rem 2.4rem;
          min-width: 20rem;
        }
      }
    }
    &__interior {
      width: 100%;
      height: auto;
      &-image {
        transform: translate(-15px, -15px);
      }
    }
    &-decore {
      display: none;
    }
  }
  .work {
    display: none !important;
  }
  .authorize {
    .form {
      &__input--last {
        margin-bottom: 3rem;
      }
      input {
        width: 100%;
      }
      .row {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

/* BELOW 592px (Phones) */

@media (max-width: 37em) {
  .footer {
    &__main {
      .row {
        flex-direction: column;
      }
    }
  }
  .service {
    &__nav-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-bottom: 3rem;
    }
  }
}
